contourpy==1.0.7
coverage==7.2.5
cycler==0.11.0
fonttools==4.39.3
importlib-metadata==6.6.0
importlib-resources==5.12.0
kiwisolver==1.4.4
llvmlite==0.38.1
matplotlib==3.5.2
numba==0.55.0
numpy==1.19.5
packaging==23.1
Pillow==9.5.0
pyparsing==3.0.9
pypulseq@git+https://github.com/imr-framework/pypulseq.git@dev
python-dateutil==2.8.2
PyWavelets==1.4.1
scipy==1.10.1
sigpy==0.1.23
six==1.16.0
tqdm==4.65.0
zipp==3.15.0
